{% load static %}

{% load crispy_forms_tags %}

{% load rest_framework %}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet"  type="text/css" href="{%static '/css/style.css'%}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome to Ticket Management System</h3>
                        <input type="submit" name="" value="Login"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab"  role="tab" aria-controls="home" aria-selected="true">Agent Registration</a>
                            </li>
        
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Add a New Agent</h3>
                                <div class="row register-form">
                                    <div class="col-md-6" style="float:none;margin:auto;">
                                        <form  method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input name="name" type="text" class="form-control" placeholder="Name *" 
                                                {% if data.name is not None %}
                                                    value="{{data.name}}"
                                                {% endif %}
                                            />
                                        </div>
                                        <div class="form-group">
                                            <input name="username" type="text" class="form-control" placeholder=" Username *" 
                                                {% if data.username is not None %}
                                                    value="{{data.username}}"
                                                {% endif %} 
                                            />
                                        </div>
                                        <div class="form-group">
                                            <input name="password" type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input name="confirm_password" type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                                        </div>
                        
                                    
                                        <div class="form-group">
                                            <input name="email" type="email" class="form-control" placeholder="Your Email *" 
                                                {% if data.email is not None %}
                                                    value="{{data.email}}"
                                                {% endif %} 
                                            />
                                        </div>
                                        
                                        {% if error %}
                                        <div class="alert alert-danger">
                                            {{error}}
                                        </div>
                                        {% endif %}
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>