{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Password Reset Confirm {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <form method="POST">
                        {% csrf_token %}
                        {% if validlink %}
                        {{ form.as_p }}
                        {% else %}
                        <p>In valid link please try again</p>
                        {% endif %}
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}