
{% extends 'layouts/base.html' %}

{% block title %} Agent Detail {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">          
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">
      {% if permission %}
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Agents/{{agent.email}}</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="heading-small text-muted mb-4">Agent({{agent.email}}) information</h6>
              <div class="pl-lg-8">
                <div class="row">
                  <div class="col">
                  <div class="col-lg-9">
                    <div class="form-group">
                      <label class="form-control-label">Name</label><br/>
                      <div class="alert alert-white" role="alert" style="border: black 2px solid; width: 300px;">{{agent.name}}</div>
                    </div>
                  </div>
                  <div class="col-lg-9">
                    <div class="form-group">
                      <label class="form-control-label">Username</label><br/>
                      <div class="alert alert-white" role="alert" style="border: black 2px solid; width: 300px;">{{agent.username}}</div>
                    </div>
                  </div>
                  <div class="col-lg-9">
                    <div class="form-group">
                      <label class="form-control-label">Email address</label><br/>
                      <div class="alert alert-white" role="alert" style="border: black 2px solid; width: 300px;">{{agent.email}}</div>
                    </div>
                  </div>
                  </div>
                  <div class="col-4">
                  <div class="col-lg-9 text-left" style="margin: 20px;">
                    <a href="{% url 'agent_password_change' agent.id %}" class="btn btn-info">Change Password</a>
                  </div>
                  <div class="col-lg-9 text-left" style="margin:20px;">
                    <a href="{% url 'agent_update'  agent.id %}" class="btn btn-info">Edit Agent Profile</a>
                  </div>
                  <div class="col-lg-9 text-left" style="margin: 20px;"> 
                    <a href="{% url 'agent_delete' agent.id %}" class="btn btn-info">Delete Agent Account</a>
                  </div>
                  <div class="col-lg-9 text-left" style="margin:20px;">
                    <a href="{% url 'agents' %}" class="btn btn-info">Back to Agents</a>
                  </div>
                  </div>
               </div>   
              </div>
            </div>

          </div>
        </div>
      </div>

      {% else %}
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-white border-0">
        <strong>You don't have permission</strong>
            </div>
          </div>
        </div>
      </div>

      {% endif %}
      
      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
