{% extends 'layouts/base.html' %}

{% block title %} Admin Profile Update {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
         style="min-height: 600px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        {% if permission %}
        <div class="row">
          <div class="col-lg-7 col-md-10">
            {% if success %}
            <h1 class="display-2 text-white">Hello {{ request.data.name }}</h1>
            {% else %}
            <h1 class="display-2 text-white">Hello {{ request.user.name }}</h1>
            {% endif %}
          </div>
          <div class="col-lg-7 col-md-10">
            <p class="text-white mt-0 mb-5">This is your profile edit page. You can edit your profile details here</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">
      {% if permission %}
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="/static/assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading"></span>
                      <span class="description"></span>
                    </div>
                    <div>
                      <span class="heading"></span>
                      <span class="description"></span>
                    </div>
                    <div>
                      <span class="heading"></span>
                      <span class="description"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{ request.user.username }}
                </h3>
                <div class="h5 font-weight-500">
                  {{ request.user.email }}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>
                  {% if request.user.is_superuser %}
                  Admin
                  {% else %}
                  Agent
                  {% endif %}
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>{{request.user.company_site}}
                </div>
                <hr class="my-4" />
                <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
                <a href="#">Show more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-6">
                  <h3 class="mb-0">Edit Profile</h3>
                </div>
                <div class="col-3 text-right">
                  <a href="/profile.html" class="btn btn-info">My Profile</a>
                </div>
                <div class="col-3 text-right">
                  <a href="{% url 'admin_password_change' %}" class="btn btn-info">Change Password</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              {% if success %}
              <form method="POST" action="/adminupdate/">
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Edit your profile details</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Username</label>
                        <input type="text" name = "username" id="input-username" class="form-control form-control-alternative" placeholder="{{ request.data.username }}" 
                               value="">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" name="email" id="input-email" class="form-control form-control-alternative" 
                               placeholder="{{ request.data.email }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Name</label>
                        <input type="text" name="name" id="input-first-name" class="form-control form-control-alternative" placeholder="{{ request.data.name }}" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Company Site</label>
                        <input type="text" name="company_site" id="input-last-name" class="form-control form-control-alternative" placeholder="{{ request.data.company_site }}" >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Save</button>
                </div>
              </form>
                <hr class="my-4" />
                {% else %}
                <form method="POST" action="/adminupdate/">
                  {% csrf_token %}
                  <h6 class="heading-small text-muted mb-4">Edit your profile details</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-username">Username</label>
                          <input type="text" name = "username" id="input-username" class="form-control form-control-alternative" placeholder="{{ request.user.username }}" 
                                 value="">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-email">Email address</label>
                          <input type="email" name="email" id="input-email" class="form-control form-control-alternative" 
                                 placeholder="{{ request.user.email }}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-first-name">Name</label>
                          <input type="text" name="name" id="input-first-name" class="form-control form-control-alternative" placeholder="{{ request.user.name }}" >
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-last-name">Company Site</label>
                          <input type="text" name="company_site" id="input-last-name" class="form-control form-control-alternative" placeholder="{{ request.user.company_site }}" >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary my-4">Save</button>
                  </div>
                </form>
                  <hr class="my-4" />
                  {% endif %}

                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">About me</h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label>About Me</label>
                    <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      {% endif %}

      {% else %}
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-12">
                <h3 class="mb-0">You don't have permission</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endif %}
      
      {% if permission %}
      {% include "includes/footer.html" %}
      {% endif %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
